.card {
  display: flex;
}
.card-list {
  background-color: burlywood;
  color: azure;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  background-image: linear-gradient(45deg, rgba(9, 9, 216, 0.712), white);
  color:azure;
  opacity: 0.98;
  min-height: 0.1vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header:hover {
  background-image: linear-gradient(45deg, yellow, white, blue);
}

li {
  list-style: none;
}

:link {
  text-decoration: none;
  font-weight: 600;
}