body {
  width: 90%;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(212, 224, 243);
}

.card {
  width: auto;
  display: flex;
  background: linear-gradient(180deg, rgb(82, 144, 243), rgba(144, 190, 17, 0.671));
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

li {
  list-style: none;
}

:link {
  text-decoration: none;
  font-weight: 600;
}

.pagination {
  display: flex;
}

.pagination li + li {
  margin-left: 1rem;
}

.pagination__item--active {
  background: none;
  border: none;
  font-weight: bold;
}

.pagination__item--active:focus {
  outline: none;
}